<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.bobarctor.Rm3Wifi" android:versionCode="3"
	android:versionName="2.1">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".About" android:label="@string/about_title"
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".SetData" android:label="@string/set_data_title" />
	</application>
	<uses-sdk android:minSdkVersion="3" />

</manifest> 